<td class="car-info-cell preview-on-hover">
    <img src="<%- imageSrc %>" alt="" class="car-info-image-thumb" />
    <div class="car-info-image-preview">
        <img src="<%- imageSrc %>" alt="" />
    </div>
</td>
<td class="car-info-cell">
   <%- vendor %> <%- model %>
</td>
<td class="car-info-cell car-info-description">
    <%- description %>
</td>
<td class="car-info-cell">
    <button class="btn do-action <%- (favourite && (action === "add")) ? "disabled" : "" %>" <%- (favourite && (action === "add")) ? "disabled" : "" %>> 
    <%- action === "add" ? "Add to Favourites" : "Remove From Favourites" %> </button>
</td>